<div class="modal-header">
  <h3 class="modal-title" translate>home.error.dialog.title</h3>
</div>
<div class="modal-body">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 alert alert-warning" translate>
          home.error.dialog.body
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="errorvm.confirmModal()" translate>home.error.dialog.buttons.login</button>
</div>
