<div class="modal-header">
  <h3 class="modal-title">{{userprofilevm.user.name}} <span translate>home.userProfile.dialog.title</span></h3>
  <span class="right">
    <button id="enButton" class="btn btn-primary" ng-click="userprofilevm.changeLanguage('en')" translate>home.buttons.en</button>
    <button id="mkButton" class="btn btn-primary" ng-click="userprofilevm.changeLanguage('mk')" translate>home.buttons.mk</button>
  </span>
</div>
<div class="modal-body">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <user-profile user="userprofilevm.user" parent-modal-instance="userprofilevm.modalInstance"></user-profile>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="userprofilevm.dismissUserProfileModal()" translate>home.userProfile.dialog.buttons.dismiss</button>
</div>

