<div class="modal-header">
  <button aria-hidden="true" class="close clickable" data-dismiss="modal" type="button" ng-click="userselectionvm.dismissUserSelectionModal()" translate>home.userSelection.dialog.buttons.close</button>
  <h3 class="modal-title">
    <span translate>home.userSelection.dialog.titleOne</span>
    {{ userselectionvm.loggedUser}}
    <span translate>home.userSelection.dialog.titleTwo</span>
    {{ userselectionvm.user.name}}
  </h3>
  <span class="right">
    <button id="enButton" class="btn btn-primary" ng-click="userselectionvm.changeLanguage('en')" translate>home.buttons.en</button>
    <button id="mkButton" class="btn btn-primary" ng-click="userselectionvm.changeLanguage('mk')" translate>home.buttons.mk</button>
  </span>
</div>
<div class="modal-body">
  <ul style="list-style-type:none">
    <li ng-repeat="conversation in userselectionvm.currentConversation">
      <div class="row">
        <img width="20px" height="20px" ng-src="assets/images/logged_user_avatar.png"/> {{conversation.loggedUser}} <small>{{conversation.timeLoggedUser | date: 'HH:mm'}}</small>
      <br/>
      </div>
      <div class="row">
      <span class="right">
        <small>{{conversation.timeUser | date: 'HH:mm'}}</small>  {{conversation.user}}  <img width="20px" height="20px" ng-src="{{userselectionvm.user.avatar}}"/>
      </span>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <form ng-submit="userselectionvm.concatConversation()">
    <input id="enterText" name="enterText" class="form-control" aria-describedby="basic-addon1"
           ng-model="userselectionvm.enteredText" placeholder="{{'home.userSelection.dialog.input' | translate}}">
    <br/>
    <button data-ng-disabled="userselectionvm.enteredText === ''" class="btn btn-primary" type="button" ng-click="userselectionvm.concatConversation()" translate>
      home.userSelection.dialog.buttons.send
    </button>
  </form>
</div>
