<div class="container">
<!--  <ul class="list-group">
    <li data-ng-repeat="user in userList" class="list-group-item list-group-item-info">
      <p class="item">
        <a ng-click="openUserModal(user)">
          <img width="20px" height="20px" ng-src="{{user.icon}}"/>    <span class="icon-text clickable">{{user.name}}</span>    <a href="" ng-click="openUserProfile(user)">Go to profile</a>
        </a>
      </p>
    </li>
  </ul>-->
  <table class="table table-striped" id="table-list">
     <thead>
       <tr>
         <th translate>home.userListDirective.status</th>
         <th translate>home.userListDirective.username</th>
         <th translate>home.userListDirective.profile</th>
       </tr>
     </thead>
     <tbody>
        <tr ng-repeat="user in userList" >
           <td>
             <img width="20px" height="20px" ng-src="{{user.icon}}"/>
           </td>
           <td class="clickable">
             <!--<span data-ng-click="openUserModal(user)">{{user.name}}</span>-->
             <a href="javascript:;" data-ng-click="openUserModal(user)" target="_blank">
               {{user.name}}
             </a>
           </td>
           <td class="clickable">
             <a href="javascript:;" data-ng-click="openUserProfile(user)" target="_blank" translate>
               home.userListDirective.buttons.profile
             </a>
           </td>
        </tr>
     </tbody>
    </table>
</div>

