<div class="container">
  <div class="row">
    <img width="100px" height="100px" ng-src="{{user.avatar}}"/>    {{user.name}}
  </div>
  <br>
  <div class="row">
    <span translate>home.userProfileDirective.about</span>:

    <span translate>home.userProfileDirective.more</span>
  </div>
  <div class="row">
    <a href="javascript:;" data-ng-click="openUserModal(user)" target="_blank" translate>
      home.userProfileDirective.buttons.chat
    </a>
  </div>
</div>
