<div class="right">
  <button id="enButton" class="btn btn-primary" ng-click="loginvm.changeLanguage('en')" translate>login.buttons.en</button>
  <button id="mkButton" class="btn btn-primary" ng-click="loginvm.changeLanguage('mk')" translate>login.buttons.mk</button>
</div>
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1 translate>login.header</h1><br>

        <form name="form" novalidate>
            <div class="input-group">
                <label for="user" translate>login.username </label>
                <input ng-model="loginvm.user.username" id="user" name="user" type="text"
                       class="form-control"
                       placeholder="{{'login.placeholder.user' | translate }}"
                       aria-describedby="basic-addon1" required/>
                <br/>

                <div ng-show="form.$submitted || form.user.$touched">
                        <div ng-show="form.user.$error.required" translate>login.userRequired</div>
                </div>
            </div>
            <div class="input-group">
                <label for="pass"translate>login.password </label>
                <input ng-model="loginvm.user.password" id="pass" name="pass" type="password"
                       class="form-control"
                       placeholder="{{'login.placeholder.pass' | translate }}"
                       aria-describedby="basic-addon1" required>
                <br/>

                <div ng-show="form.$submitted || form.pass.$touched">
                    <div ng-show="form.pass.$error.required" translate>login.passRequired</div>
                </div>
            </div>
            <br/>
            <input type="submit" class="login loginmodal-submit" ng-click="loginvm.loginUser(loginvm.user)"
                   ng-disabled="form.$invalid" name="login" value="{{'login.buttons.loginButton' | translate }}">
        </form>
        <br/>

        <div class="alert alert-danger" ng-show="loginvm.hasError" translate>login.errorMessage</div>
    </div>
</div>
