<div id="wrapper">

  <div class="right">
    <button id="logOut" class="btn btn-primary" ng-click="homevm.logOut()" translate>home.buttons.logout</button>
    <button id="enButton" class="btn btn-primary" ng-click="homevm.changeLanguage('en')" translate>home.buttons.en</button>
    <button id="mkButton" class="btn btn-primary" ng-click="homevm.changeLanguage('mk')" translate>home.buttons.mk</button>
  </div>
  <div class="left clear">
    <h1 style="font-family: 'Helvetica Neue'"><b translate>home.onlineUsers</b></h1>

    <div>
      <user-list user-list="homevm.users" ></user-list>
    </div>

  </div>


</div>
